.footer {

    // .footer__row

    &__row {
        display: flex;
        align-items: stretch;
        justify-content: center;
        margin: 0 auto;
        overflow: hidden;
        min-height: 100%;
        
    }

    // .footer__content

    &__content {
        flex: 0 1 43%;
        background: #1E2E36;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 50px 101px 15px 51px;
    }

    // .footer__image

    &__image {
        flex: 0 1 57%;
        position: relative;
        height: auto;
        padding-top: 27%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.content-footer {
    

    // .content-footer__logo

    &__logo {
        margin-bottom: 50px;
    }

    // .content-footer__menu

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 95px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 14px;
    }
}
.menu-footer {

    // .menu-footer__nav

    &__nav {
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    // .menu-footer__contacts

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
    }
}
.nav-footer {

    // .nav-footer__goods

    &__goods {
        margin-right: 57px;
    }

    // .nav-footer__item

    &__item {
        margin-bottom: 15px;
        position: relative;
        padding-left: 19px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            height: 2px;
            width: 14px;
            background-color: #44C697;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            color: #44C697;
        }
    }

    // .nav-footer__about

    &__about {
    }
}
.contacts-footer {

    // .contacts-footer__connect

    &__connect {
        margin-bottom: 30px;
    }

    // .contacts-footer__social

    &__social {
    }
}
.connect-footer {

    // .connect-footer__item

    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }

        svg {
            margin-right: 7.25px;
        }

        &:hover path {
            fill: #44C697;
        }
        &:hover span {
            color: #44C697;
        }
    }
}

.item-connect {
    align-items: flex-start;
}

.item-connect__mobile {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.social-footer {

    // .social-footer__title

    &__title {
        margin-bottom: 15px;
    }

    // .social-footer__icons

    &__icons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
    }

    // .social-footer__icon

    &__icon {
        margin-right: 30px;

        &:hover path {
        
            fill: #44C697;
        }
    }

    // .social-footer__info

    &__info {
    }
}
.info-footer {

    // .info-footer__copy

    &__copy {
        line-height: 120%;
    }

    // .info-footer__company

    &__company {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 16px;
        text-transform: uppercase;
        font-family: 'Cuprum', sans-serif;
        
        img {
            margin-right: 3px;
        }
    }
}
